<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938839071387-l1pioi7uuigvug4lfnqi1bssrokm9ol3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938839071387-l1pioi7uuigvug4lfnqi1bssrokm9ol3</string>
	<key>API_KEY</key>
	<string>AIzaSyBwP51nCar1VHgNC5mB8PVF1daM-vSbuhs</string>
	<key>GCM_SENDER_ID</key>
	<string>938839071387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canastro.flutterskeletonapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-skeleton-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-skeleton-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938839071387:ios:ea34dd6e12a3a47a05043e</string>
</dict>
</plist>